In [1]:
import pandas as pd

df_nees = pd.read_excel('./SourceData/NEES.xlsx')
df_nees.head()

,TMEM214,RNF170,SCAI,lemd3,PEDS1,TMEM126A,TMEM109,NEMP1,TMEM245,APMAP,...,NDUFB5,mboat7-2,TMEM192,cybc1,CPT1C,ESYT2,TMEM68,Epsin1,Mdomain,P2
0,0.865,NaN,NaN,NaN,NaN,0.742,NaN,0.475,NaN,NaN,...,0.482,NaN,0.410,0.480,0.661,0.499,0.444,1.269,0.431,0.452
1,0.990,NaN,NaN,NaN,NaN,0.723,NaN,0.471,NaN,NaN,...,0.403,NaN,0.401,0.433,0.633,0.542,0.405,0.973,0.425,0.519
2,1.069,NaN,NaN,NaN,NaN,0.795,NaN,0.514,NaN,NaN,...,0.469,NaN,0.478,0.386,0.721,0.522,0.376,1.010,0.399,0.409
3,1.158,NaN,NaN,NaN,NaN,0.601,NaN,0.542,NaN,NaN,...,0.501,NaN,0.390,0.431,0.597,0.508,0.417,0.786,0.454,0.411
4,1.094,NaN,NaN,NaN,NaN,0.588,NaN,0.430,NaN,NaN,...,0.443,NaN,0.479,0.437,0.630,0.437,0.395,0.883,0.434,0.449

In [2]:
median_series = df_nees.median()
mean_series = df_nees.mean()

transposed_df_nees = pd.DataFrame({'AH': df_nees.columns, 'Median': median_series, 'Mean': mean_series})
transposed_df_nees.reset_index(drop=True, inplace=True)

In [4]:
transposed_df_nees.to_csv('./Output/NEES_summary.csv', index=False)