In [ ]:
import pandas as pd

df_nees = pd.read_excel('./SourceData/NEES.xlsx')
df_nees.head()

In [ ]:
median_series = df_nees.median()
mean_series = df_nees.mean()

transposed_df_nees = pd.DataFrame({'AH': df_nees.columns, 'Median': median_series, 'Mean': mean_series})
transposed_df_nees.reset_index(drop=True, inplace=True)

In [11]:
transposed_df_nees.head()

        AH  Median      Mean
0  TMEM214   1.411  1.379518
1   RNF170   1.758  1.734862
2     SCAI   1.090  1.098238
3     Man1   0.941  0.994241
4    PEDS1   0.669  0.655619